            <!--Footer-->
            <div class="footer footer-5 ftr-bg-black">
                <div class="footer-top border-0 clearfix">
                    <div class="container">                       
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-4 mb-4 mb-lg-0">
                                <div class="footer-newsletter icon-arrow">
                                    <form action="#" method="post">
                                        <label class="h4 mb-2">Se connecter pour recevoir nos nouveautés</label>
                                        <p>Abonnez-vous pour recevoir des mises à jour sur les nouveaux arrivages, les offres spéciales</p>
                                        <div class="input-group">
                                            <input type="email" class="form-control input-group-field newsletter-input" name="email" value="" placeholder="Entrer votre adresse email..." required />
                                            <button type="submit" class="input-group-btn text-link newsletter-submit" name="commit"><i class="icon anm anm-arw-right"></i></button>
                                        </div>
                                    </form>
                                    <ul class="list-inline social-icons d-inline-flex mt-3 pt-3">
                                        <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook"><i class="icon anm anm-facebook-f"></i></a></li>
                                        <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Linkedin"><i class="icon anm anm-linkedin-in"></i></a></li>
                                        <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram"><i class="icon anm anm-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-3 footer-links ps-lg-5">
                                <h4 class="h4">Mon compte</h4>
                                <ul>
                                    <li><a href="compte">Mon compte</a></li>
                                    <li><a href="historique">Notre Historique</a></li>
                                    <li><a href="contact">Contact</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-2 footer-links">
                                <h4 class="h4">Information</h4>
                                <ul>
                                    <li><a href="about">A propos</a></li>                                
                                    <li><a href="#">Vie privée</a></li>
                                    <li><a href="#">Termes et conditions</a></li>
                                </ul>
                            </div>                              
                            <div class="col-12 col-sm-12 col-md-4 col-lg-3 footer-contact">
                                <h4 class="h4">Contact</h4>
                                <p class="address d-flex"><i class="icon anm anm-map-marker-al pt-1"></i> Ras Jebel - Bizerte</p>
                                <p class="phone d-flex align-items-center"><i class="icon anm anm-phone-l"></i><a href="tel:401234567890">(+216) 29 323 449</a></p>
                                <p class="email d-flex align-items-center"><i class="icon anm anm-envelope-l"></i> <b class="me-1 d-none">Email:</b> <a href="mailto:info@example.com">lockerroom.gmail.com</a></p>
                                <p class="work-hour d-flex mb-0"><i class="icon anm anm-clock-r pt-1"></i><span class="hour-time">Horaires de travail: <br/>Lun - Sam / 9:00 AM - 8:00 PM</span></p>
                            </div>
                        </div> 
                    </div>                       
                </div>               
                <div class="footer-bottom clearfix">
                    <div class="container">
                        <div class="d-flex-center flex-column justify-content-md-between flex-md-row-reverse py-lg-1">
                            <ul class="payment-icons d-flex-center mb-2 mb-md-0">
                                <li><i class="icon anm anm-cc-visa"></i></li>
                                <li><i class="icon anm anm-cc-mastercard"></i></li>
                                <li><i class="icon anm anm-cc-paypal"></i></li>
                            </ul>
                            <div class="copytext">&copy; Mohamed Wassim Ennar. All Rights Reserved.</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Footer-->