            <!--Header-->
            <header class="header mih-75 d-flex align-items-center header-5 header-fixed">
                <div class="container-fluid">        
                    <div class="row">
                        <!--Logo-->
                        <div class="logo col-4 col-sm-4 col-md-4 col-lg-1 col-xxl-1 align-self-center">
                            <a class="logoImg" href=""><img src="assets/images/Lr44.png"/></a>
                        </div>
                        <!--End Logo-->
                        <!--Menu-->
                        <div class="col-1 col-sm-1 col-md-1 col-lg-6 col-xxl-6 align-self-center d-menu-col hdr-menu-left menu-position-left">
                            <nav class="navigation ps-lg-4 ps-xl-3" id="AccessibleNav">
                                <ul id="siteNav" class="site-nav medium left">
                                    <li><a href="">Acceuil</a>
                                    </li>
                                    <li><a href="about">A propos</a>
                                    </li>
                                    <li><a href="produit">Produits</a>
                                    </li>
                                    <li><a href="offre">Offres Spéciaux</a>
                                    </li>
                                    <li><a href="contact">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!--End Menu-->
                        <!--Right Icon-->
                        <div class="col-8 col-sm-8 col-md-8 col-lg-5 col-xxl-5 align-self-center icons-col text-right">
                            <!--Search-->
                            <div class="search-parent iconset">
                                <!--Search Inline-->
                                <div class="minisearch-inline d-none d-lg-block">
                                    <form class="form minisearch search-inline-brd" id="header-search0" action="#" method="get">
                                        <label class="label d-none"><span>Search</span></label>
                                        <!--Search Field-->
                                        <div class="d-flex searchField">
                                            <div class="input-box d-flex fl-1">
                                                <input type="text" class="form-control input-group-field search-input border-0" placeholder="Cherchez ici..." value="" />
                                                <button type="submit" class="input-group-btn text-link search-submit border-0"><i class="hdr-icon icon anm anm-search-l"></i></button>
                                            </div>
                                        </div>
                                        <!--End Search Field-->
                                    </form>
                                </div>
                                <!--End Search Inline-->

                                <div class="site-search d-lg-none" data-bs-toggle="tooltip" data-bs-placement="top" title="Search">
                                    <a href="#;" class="search-icon clr-none" data-bs-toggle="offcanvas" data-bs-target="#search-drawer"><i class="hdr-icon icon anm anm-search-l"></i></a>
                                </div>
                                <div class="search-drawer offcanvas offcanvas-top" tabindex="-1" id="search-drawer">
                                    <div class="container">
                                        <div class="search-header d-flex-center justify-content-between mb-3">
                                            <h3 class="title m-0">What are you looking for?</h3>
                                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                        </div>
                                        <div class="search-body">
                                            <form class="form minisearch" id="header-search" action="#" method="get">
                                                <!--Search Field-->
                                                <div class="d-flex searchField">
                                                    <div class="input-box d-flex fl-1">
                                                        <input type="text" class="input-text border-start-0 border-end-0" placeholder="Search for products..." value="" />
                                                        <button type="submit" class="action search d-flex-justify-center btn btn-primary rounded-start-0"><i class="icon anm anm-search-l"></i></button>
                                                    </div>
                                                </div>
                                                <!--End Search Field-->
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Search-->

                            <!--Account-->
                            <div class="account-parent iconset">
                                <div class="account-link" title="Account"><i class="hdr-icon icon anm anm-user-al"></i></div>
                                <div id="accountBox">
                                    <div class="customer-links">
                                        <ul class="m-0">
                                            <li><a href="login"><i class="icon anm anm-sign-in-al"></i>Se connecter</a></li>
                                            <li><a href="register"><i class="icon anm anm-user-al"></i>S'enregistrer</a></li>
                                            <li><a href="compte"><i class="icon anm anm-user-cil"></i>Mon Compte</a></li>
                                            <li><a href="login"><i class="icon anm anm-sign-out-al"></i>Sign out</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--End Account-->
                            <!--Minicart-->
                            <div class="header-cart iconset" title="Cart">
                                <a href="#;" class="header-cart btn-minicart clr-none" data-bs-toggle="offcanvas" data-bs-target="#minicart-drawer"><i class="hdr-icon icon anm anm-cart-l"></i><span class="cart-count">2</span></a>
                            </div>
                            <!--End Minicart-->
                            <!--Mobile Toggle-->
                            <button type="button" class="iconset pe-0 menu-icon js-mobile-nav-toggle mobile-nav--open d-lg-none" title="Menu"><i class="hdr-icon icon anm anm-times-l"></i><i class="hdr-icon icon anm anm-bars-r"></i></button>
                            <!--End Mobile Toggle-->
                        </div>
                        <!--End Right Icon-->
                    </div>
                </div>
            </header>
            <!--End Header-->